# Part II

## Tweepy Scrape

In [ ]:
pip install git+https://github.com/tweepy/tweepy.git

Collecting git+https://github.com/tweepy/tweepy.git
  Cloning https://github.com/tweepy/tweepy.git to /tmp/pip-req-build-v8hvt7_7
  Running command git clone -q https://github.com/tweepy/tweepy.git /tmp/pip-req-build-v8hvt7_7
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.5.0) (3.2.0)
Collecting requests<3,>=2.27.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.3 MB/s
Requirement already satisfied: requests_oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.5.0) (1.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2.0.11)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2.10)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py) ... done
  Created wheel for tweepy: filename=tweepy-4.5.0-py2.py3-none-any.whl size=66123 sha256=f68172434ab5f05af37df2c836101c46b8e55b6fb4881788eb0d0ca978400712
  Stored in directory: /tmp/pip-ephem-wheel-cache-zrhtqc2h/wheels/b4/a5/5a/5074abdb9f4bd5bd0e22631a63fc41ae2fa71ad83780ea18d1
Successfully built tweepy
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.27.1 tweepy-4.5.0

In [ ]:
import pandas as pd
import tweepy

In [ ]:
api_key = #enter api key
secret_key = #enter secret key
access_token = #enter access token
access_token_secret = #enter secret access token

auth = tweepy.OAuthHandler(api_key,secret_key)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

Scraped 20,000 tweets instead of 5,000 since we had around 3,500 unique users when we scraped 5,000 tweets.

In [ ]:

eileenGuTweets = pd.DataFrame(columns = ['Content Type','Tweet','A_username','A_followers','A_following','A_listed','A_posts','A_location','B_text','B_username',
                                            'B_followers','B_following','B_listed','B_posts','B_location'])
tweet_info = []
hashtag = 'Eileen Gu'
numTweets = 30000

for tweet in tweepy.Cursor(api.search_tweets,
                           q=hashtag,
                           count=100,
                           result_type="recent",
                           include_entities=True).items(numTweets):
    try:
        tweet_info.append(tweet)
        a_username = tweet._json['user']['screen_name']
        if tweet.text[:2] == 'RT': # they are retweeting
            b_handle = tweet._json['retweeted_status']['user']['screen_name']
            b_followers = tweet._json['retweeted_status']['user']['followers_count']
            b_following = tweet._json['retweeted_status']['user']['friends_count']
            b_listed = tweet._json['retweeted_status']['user']['listed_count']
            b_posts = tweet._json['retweeted_status']['user']['statuses_count']
            b_location = tweet._json['retweeted_status']['user']['location']
            content = 'Interaction'
        elif False:
            pass
        else:
            b_username = a_username
            content = 'Self'
        tweetActual = tweet.text
        a_followers = tweet._json['user']['followers_count']
        a_following = tweet._json['user']['friends_count']
        a_listed = tweet._json['user']['listed_count']
        a_posts = tweet._json['user']['statuses_count']
        a_location = tweet._json['user']['location']
        

        eileenGuTweets = eileenGuTweets.append(pd.Series({'Content Type':content,'Tweet':tweetActual,'A_username':a_username,'A_followers':a_followers,
                                          'A_following':a_following,'A_listed':a_listed,'A_posts':a_posts,'A_location':a_location,
                                          'B_username':b_username,'B_followers':b_followers,
                                          'B_following':b_following,'B_listed':b_listed,
                                          'B_posts':b_posts,'B_location':b_location}), ignore_index = True)
    except:
        continue

eileenGuTweets.head()

Rate limit reached. Sleeping for: 412

  Content Type  ...      B_location
0  Interaction  ...
1         Self  ...
2  Interaction  ...           India
3  Interaction  ...
4  Interaction  ...  Florida, USA🇺🇸

[5 rows x 15 columns]

In [ ]:
eileenGuTweets.to_excel("eileenGuTweets.xlsx")

In [ ]:

nathanChenTweets = pd.DataFrame(columns = ['Content Type','Tweet','A_username','A_followers','A_following','A_listed','A_posts','A_location','B_text','B_username',
                                            'B_followers','B_following','B_listed','B_posts','B_location'])
tweet_info = []
hashtag = 'Nathan Chen'
numTweets = 30000

for tweet in tweepy.Cursor(api.search_tweets,
                           q=hashtag,
                           count=100,
                           result_type="recent",
                           include_entities=True).items(numTweets):
    try:
        tweet_info.append(tweet)
        a_username = tweet._json['user']['screen_name']
        if tweet.text[:2] == 'RT': # they are retweeting
            b_handle = tweet._json['retweeted_status']['user']['screen_name']
            b_followers = tweet._json['retweeted_status']['user']['followers_count']
            b_following = tweet._json['retweeted_status']['user']['friends_count']
            b_listed = tweet._json['retweeted_status']['user']['listed_count']
            b_posts = tweet._json['retweeted_status']['user']['statuses_count']
            b_location = tweet._json['retweeted_status']['user']['location']
            content = 'Interaction'
        elif False:
            pass
        else:
            b_username = a_username
            content = 'Self'
        tweetActual = tweet.text
        a_followers = tweet._json['user']['followers_count']
        a_following = tweet._json['user']['friends_count']
        a_listed = tweet._json['user']['listed_count']
        a_posts = tweet._json['user']['statuses_count']
        a_location = tweet._json['user']['location']
        

        nathanChenTweets = nathanChenTweets.append(pd.Series({'Content Type':content,'Tweet':tweetActual,'A_username':a_username,'A_followers':a_followers,
                                          'A_following':a_following,'A_listed':a_listed,'A_posts':a_posts,'A_location':a_location,
                                          'B_username':b_username,'B_followers':b_followers,
                                          'B_following':b_following,'B_listed':b_listed,
                                          'B_posts':b_posts,'B_location':b_location}), ignore_index = True)
    except:
        continue

nathanChenTweets.head()

Rate limit reached. Sleeping for: 158
Rate limit reached. Sleeping for: 216

  Content Type  ...    B_location
0  Interaction  ...         東京都港区
1  Interaction  ...         東京都港区
2  Interaction  ...         東京都港区
3  Interaction  ...  New York, NY
4  Interaction  ...   Connecticut

[5 rows x 15 columns]

In [ ]:
nathanChenTweets.to_excel("nathanChenTweets.xlsx")